/* all */
section.section_style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.line {
  margin-top: 15%;
  margin-bottom: 15%;
  border-top: solid 2px #08d665;
}

/* end all */

/* nav */
nav.navbar {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 100;
}

.nav-sections {
  justify-content: end;
}

a.navbar-brand {
  padding-left: 20px;
}
/* nav done */

/* Home */

section#Home {
  padding-top: 10%;
}

.home_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img.me {
  width: 100%;
  height: 480px;
}
/* Home done */

/* About */

section#About {
  padding-top: 10%;
}

img.about_pic {
  height: 100%;
  /* width: 400px; */
  object-fit: cover;
}

.about_details {
  font-weight: 600;
  position: relative;
  width: 120px;
  display: inline-block;
  margin-bottom: 10px;
  color: #222;
}

/* Skilss */

.skill-content {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
}

.badges {
  font-size: 3pc;
}

.progress-design {
  margin-left: 20px;
  margin-top: 25px;
  width: 70%;
}

.fa-js {
  padding-right: 6px;
  padding-left: 6px;
}

.fa-github {
  padding-right: 6px;
}

/* Testimonials */

.carousel-indicators {
  bottom: -60px;
}

/* about done */

/* Resume */
section#Resume {
  padding-top: 6%;
  padding-bottom: 5%;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #08d665;
  position: relative;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #08d665;
}

/* resume done */

/* Project */

section#Projects {
  padding-top: 15%;
  padding-bottom: 10%;
}

.project {
  position: relative;
}

.project-details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.3s linear;
}

.project:hover .project-details {
  opacity: 1;
  border: 3px #198754 solid;
}

.project-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.project img {
  object-fit: cover;
  width: 100%;
}

/* project done */

/* contact */

section#Contact {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.contact_details {
  width: 100%;
  height: 300px;
}

.sub-button {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

input[type="submit"] {
  border-radius: 30px;
  padding: 10px 20px;
  background: #08d665;
  color: #fff;
  border: #08d665;
}

.contact_details {
  padding-left: 20px;
}

.contact_details h6 {
  margin-top: 20px;
  margin-bottom: 25px;
}

.contact_icons i {
  padding-left: 0%;
}
.contact_icons i {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background: #08d665;
  color: #fff;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.contact_info {
  display: flex;
}

.details {
  display: flex;
  padding-left: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  justify-content: center;
}

/* contact done */

/* footer */
.footer-area .container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.footer-area {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* footer done */
